.products-list {
  display: flex;
  margin-bottom: 1.5em;
}

.products-align-left {
  justify-content: flex-start;
}

.products-align-center {
  justify-content: space-evenly;
}

.products-align-right {
  justify-content: flex-end;
}
