.row-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1em;
  padding: 0.5em 0;
}

.edit-button {
  height: 3em;
  width: 3em;
  padding: 0.5em;
}
