.top-bar {
  display: flex;
  margin-bottom: 2em;
}

.top-bar-left {
  flex: 1;
}

.top-bar-left > *:not(:first-child) {
  margin-left: 1em;
}

.top-bar-right > *:not(:first-child) {
  margin-left: 1em;
}

.row-item {
  border: 2px solid orange;
  padding: 0.5em;
  margin: 0 1em;
}

.new-row-drop-zone {
  border: 1px dashed orange;
  padding: 0.5em;
  margin: 2em 1em;
  height: 8em;
}
